---
layout: common.hbs
title: Videos of Cinzia Milani
styling: video.css
---

<div class="w3-center">
{{#each video}}
    <iframe width="448" height="294" src="https://www.youtube-nocookie.com/embed/{{ this.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w3-mobile w3-margin-bottom w3-margin-right"></iframe>
{{/each}}


</div>





