
.volume {

    .volume__note {
        opacity: 0;
        text-align: center;
        position: fixed;
        bottom: 25px;
        width: 100%;
        z-index: 2;
    }

    .volume__button {
        position: fixed;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right:0;
        bottom: 0;
        width: 100%;
        background: #111;
        z-index: 100;
    }

}
